página de login: /* login */

position: relative;
width: 1440px;
height: 1024px;

background: #E8E8E8;


/* Rectangle 10 */

position: absolute;
width: 764px;
height: 747px;
left: 338px;
top: 138px;

background: #FFFFFF;
box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
border-radius: 15px;


/* Entrar */

position: absolute;
width: 105px;
height: 54px;
left: 668px;
top: 201px;

font-family: 'Nunito';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 150%;
/* identical to box height, or 54px */
display: flex;
align-items: center;

color: #000000;



/* Frame 1 */

position: absolute;
width: 572px;
height: 42px;
left: 434px;
top: 797px;



/* image 1 */

position: absolute;
width: 109px;
height: 39px;
left: 396px;
top: 3px;

background: url(image);


/* ou entre com sua conta */

position: absolute;
width: 302px;
height: 42px;
left: 81px;
top: 0px;

font-family: 'Nunito';
font-style: normal;
font-weight: 700;
font-size: 28px;
line-height: 150%;
/* identical to box height, or 42px */
display: flex;
align-items: center;

color: #000000;



/* Frame 2 */

position: absolute;
width: 498px;
height: 62px;
left: 474px;
top: 335px;



/* Rectangle 11 */

position: absolute;
width: 493px;
height: 55px;
left: 3px;
top: 3px;

background: rgba(53, 103, 137, 0.2);
border-radius: 10px;


/* Digite seu CPF */

position: absolute;
width: 137px;
height: 30px;
left: 24px;
top: 16px;

font-family: 'Nunito';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 150%;
/* identical to box height, or 30px */
display: flex;
align-items: center;

color: rgba(0, 0, 0, 0.33);



/* Frame 3 */

position: absolute;
width: 497px;
height: 55px;
left: 475px;
top: 432px;



/* Rectangle 12 */

position: absolute;
width: 493px;
height: 55px;
left: 2px;
top: 0px;

background: rgba(53, 103, 137, 0.2);
border-radius: 10px;


/* Senha de acesso */

position: absolute;
width: 154px;
height: 30px;
left: 24px;
top: 13px;

font-family: 'Nunito';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 150%;
/* identical to box height, or 30px */
display: flex;
align-items: center;

color: rgba(0, 0, 0, 0.33);



/* botao */

position: absolute;
width: 336px;
height: 75px;
left: 552px;
top: 540px;



/* Rectangle 13 */

position: absolute;
width: 324px;
height: 67px;
left: 6px;
top: 4px;

background: #213F65;
border-radius: 25px;


/* Entrar */

position: absolute;
width: 70px;
height: 36px;
left: 133px;
top: 20px;

font-family: 'Nunito';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 150%;
/* identical to box height, or 36px */
display: flex;
align-items: center;

color: #FFFFFF;



/* Esqueceu a senha? */

position: absolute;
width: 177px;
height: 30px;
left: 635px;
top: 621px;

font-family: 'Nunito';
font-style: normal;
font-weight: 800;
font-size: 20px;
line-height: 150%;
/* identical to box height, or 30px */
display: flex;
align-items: center;

color: rgba(0, 0, 0, 0.5);



/* Não tem conta? Registre-se aqui. */

position: absolute;
width: 345px;
height: 33px;
left: 548px;
top: 665px;

font-family: 'Nunito';
font-style: normal;
font-weight: 800;
font-size: 22px;
line-height: 150%;
/* identical to box height, or 33px */
display: flex;
align-items: center;

color: rgba(0, 0, 0, 0.6);