@font-face {
  font-family: 'Nunito';
  src: url('Nunito/static/Nunito-Light.ttf') format('truetype');
  font-weight: 300; /* Light */
}

@font-face {
  font-family: 'Nunito';
  src: url('Nunito/static/Nunito-Medium.ttf') format('truetype');
  font-weight: 500; /* Medium */
}

@font-face {
  font-family: 'Nunito';
  src: url('Nunito/static/Nunito-Bold.ttf') format('truetype');
  font-weight: 700; /* Bold */
}

* {
    font-family: 'Nunito';
    font-size: 16px;
    font-weight: 500;
}

h1 {
    font-weight: 700;
}

body {
    background-color: #E8E8E8;
}

/*
main {
    background-color: #fff;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 5px #000;
    padding: 10px;
}
*/

/* vvv loginPage e registerPage vvv */

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 0px;
    margin-bottom: 0px;
    display: none;
}

div.loginRegisterBox {
    position: relative;
    width: 450px;
    height: 500px;
    margin: auto;
    margin-top: 50px;
    background-color: #f0f0f0;
    box-shadow: 3px 3px 5px #c0c0c0;
    padding: 10px;
    flex-direction: column;
    display: flex;
    align-items: center;
    border-radius: 8px;
}

a.navigationButton {
    margin-top: 40px;
    width: 200px;
    height: 10px;
    background-color: #213F65;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    padding: 18px 10px;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

button.buttonstyle {
    margin-top: 40px;
    width: 100px;
    height: 30px;
    background-color: #213F65;
    color: #fff;
    border: none;
    border-radius: 14px;
    cursor: pointer;
    padding: 18px 60px;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

img.govBr {
  height: 1em;
  width: auto;
  vertical-align: middle;
}
/* vvv registerPage vvv*/

div.registerBox {
    position: relative;
    width: 450px;
    height: 500px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 20px;

    background-color: #f0f0f0;
    box-shadow: 3px 3px 5px #c0c0c0;
    
    justify-content: flex-start;
    flex-direction: column;
    display: flex;
    align-items: flex-start;
    border-radius: 8px;
}

div.registerBox h1 {
    width: 100%;
    text-align: center;
    margin-top: 8px;
    margin-bottom: 4px;
    font-size: 26px;
}

div.registerBox h2 {
    margin-bottom: 5px;
    font-size: 18px;
}

.registerBox .buttonstyle {
    align-self: center;
    width: auto;
    margin-top: 0px;
    margin-bottom: 2px;
}

.registerBox input.inputstyle {
    margin-top: 3px;
}

.registerBox input.inputstyle[id="email"] {
    width: 220px;
}

.registerBox div.lineInput {
    margin-top: 3px;
}

.registerBox input.lineInput {
    margin-top: 3px;
}

.registerBox input.inputRegister {
    margin-top: 3px;
}

div.lineInput {
    position: relative;
    right: 50px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 20px;
    margin-left: 50px;
}

div.lineInput[id="passwordDiv"] {
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: 18px;
}

div.lineInput[id="errorDiv"] {
    width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
    flex-direction: column;
    display: flex;
    align-items: center;
}

input.inputstyle {
    position: relative;
    margin-top: 40px;
    border-radius: 8px;
    font-size: 24px;
    padding: 6px 10px;
    outline: none;
    border: none;
    background-color: #35678933;
}

input.inputstyle[id="birthdate"] {
    width: 120px;
}

.flatpickr-current-month .numInputWrapper {
  font-size: 24px;
  width: 100px;
}

.flatpickr-current-month input.cur-year {
  font-size: 24px;
  font-weight: bold;
}

input.inputRegister {
    width: 180px;
    margin-top: 40px;
    border-radius: 8px;
    font-size: 24px;
    padding: 6px 10px;
    outline: none;
    border: none;
    background-color: #35678933;
}

input.lineInput {
    width: 195px;
    margin-top: 20px;
    margin-right: 10px;
    border-radius: 8px;
    font-size: 24px;
    padding: 6px 10px;
    outline: none;
    border: none;
    background-color: #35678933;
}

div.lineInput input.inputstyle[id="orgao"] {
    width: 90px;
}

div.lineInput input.inputstyle[id="matricula"] {
    width: 100px;
}

div.lineInput input.inputstyle[id="areaDeAtuacao"] {
    width: 180px;
}

/* ^^^ registerPage ^^^ */

/* ^^^ loginPage e registerPage ^^^ */

/* vvv homePage vvv*/

div.homeHeader {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 70px;

    background-color: #f0f0f0;
    box-shadow: 3px 3px 5px #c0c0c0;
    border-radius: 8px;
}

/* ^^^ homePage ^^^ */
