* {
    font-family: nunito-light, nunito-medium, nunito-bold;
    font-size: 16px;
}

body {
    background-color: #E8E8E8;
}

/*
main {
    background-color: #fff;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 5px #000;
    padding: 10px;
}
*/
/* vvv loginPage e registerPage vvv */
.loginRegisterBox {
    width: 450px;
    height: 500px;
    margin: auto;
    margin-top: 50px;
    background-color: #f0f0f0;
    box-shadow: 3px 3px 5px #c0c0c0;
    padding: 10px;
    flex-direction: column;
    display: flex;
    align-items: center;
    border-radius: 8px;
}

input.inputstyle {
    position: center;
    margin-top: 40px;
    margin-left: center;
    border-radius: 8px;
    font-size: 24px;
    padding: 6px 10px;
    outline: none;
    border: none;
    background-color: #E8E8E8;
}

a.navigationButton {
    margin-top: 40px;
    width: 200px;
    height: 10px;
    background-color: #213F65;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    padding: 18px 10px;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

button.buttonstyle {
    margin-top: 40px;
    width: 100px;
    height: 30px;
    background-color: #213F65;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    padding: 18px 60px;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

img.govBr {
  height: 1em;
  width: auto;
  vertical-align: middle;
}


/* ^^^ loginPage e registerPage ^^^ */